*{margin:0;padding: 0;}

.wrap
{
    width: 700px;
    margin: auto;
}

.test-data
{
    border: 10px solid #f3f3f3;
    padding: 10px;
    margin: 0 0 20px 0;
}

.q
{
    border-bottom: 1px solid #000;
    font-weight: bold;
}

.a
{
    padding: 5px 0;
}

.question
{
    display:none;
}

.pagination
{
    margin: 20px;
    text-align: center;
}

.pagination a
{
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 6px 12px;
    text-decoration: none;
    background: #fff;
    color: #428bca;
    margin: 0 5px 0 0;
}

.pagination a:hover
{
    background:#eee;
}

.pagination>a.nav-active
{
    background-color: #428bca;
    color: #fff;
    border-color: #428bca;
    cursor: default;
}

.center
{
    display: block;
    margin: auto;
    text-align: center;
}

button.btn
{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 6px 12px;
    text-decoration: none;
    background: #dcdcdc linear-gradient(#fff,#dcdcdc) ;
    color: #000;
    cursor: pointer;
    transition: all.3s;
}

button.btn:hover
{
    background: #dcdcdc linear-gradient(#dcdcdc,#fff);
    box-shadow: 0 0 2px #aaa;
}

.none{display: none;}

.count-res
{
    margin: 0 0 20px 0;
    border-bottom: 1px dotted #ccc;
}
.question-res
{
    margin:0 0 10px 0;
    padding: 5px;
    border: 1px #ccc;

}
.ok
{
    border:1px #ADC092;
    background: #F0FAF1;
    color:#58715E;
}
.error
{
    border:1px  #DDB1B1;
    background: #FFEDED;
    color:#7F5354;
}

.ok2
{
    color:green;
}

.error2
{
    text-decoration: line-through;
    color:#ff00aa;
}